language: python

python:
  - 2.7
  - 3.4

install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

after_success:
  - coverage report -m
  - coveralls

notifications:
  email: false

script: coverage run --rcfile=.coveragesrc `which py.test` -v --pep8